<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>创建英雄</title>
	<script type="text/javascript" src="/static/js/jquery-1.12.4.min.js"></script>
	<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
<script>
$(function () {
            // 发起一个ajax请求 /prov，获取所有省级地区的信息
            // 获取信息,使用get
            // 涉及到信息修改,使用post
            $.get('/heroinfo', function (data) {
                // 回调函数
                // 获取返回的json数据
                res = data.list
                //alert(res)
                // 获取prov下拉列表框
                bid = $('#bid')
                // 变量res数组，获取每一个元素:[地区id, 地区标题]
                /*
                for(i=0; i<res.length; i++){
                    id = res[i][0]
                    atitle = res[i][1]
                    alter(id)
                    alter(atitle)
                    option_str = '<option value="'+id + '">'+ atitle+ '</option>'
                    // 向prov下拉列表框中追加元素
                    prov.append(option_str)
                }*/
                $.each(res, function (index, item) {
                    id = item[0]
                    btitle = item[1]
                   //alert(btitle)
                    option_str = '<option value="'+id + '">'+ btitle+ '</option>'
                    // 向prov下拉列表框中追加元素
                    bid.append(option_str)
                })
            })

        })
</script>
</head>
<body>
	<div class="container">
		<h1>创建英雄</h1>
<form method="POST" action="/addhero">
  <div class="form-group">
    <label for="exampleInputEmail1">英雄姓名</label>
    <input type="text" class="form-control" id="hname" placeholder="英雄姓名" name="hname">
  </div>
  
  <div class="form-group">
    <label for="exampleInputEmail1">英雄性别</label>
    <input type="text" class="form-control" id="hgender" placeholder="True or False" name="hgender">
  </div>

  <div class="form-group">
    <label for="exampleInputEmail1">英雄描述信息</label>
    <input type="text" class="form-control" id="hcomment" placeholder="英雄描述信息" name="hcomment">
  </div>
  

  <div class="form-group">
    <label for="exampleInputEmail1">图书id</label>
  <select id="bid" name="hbook">
    <option>---请选择图书---</option>
</select>
</div> 
  <button type="submit" class="btn btn-default">Submit</button>
</form>





	</div>


</body>
</html>







